In [33]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
import os
from pathlib import Path

In [86]:
folder = Path("/Users/lorenzouberti/Desktop/Panel-Data-Project-Financial-Econometrics/Data/CPI")
for f in folder.iterdir():
    print(f.name)

 Jordá et al 2017  - .xlsx

DATA EXTRACTION MAKING THE VARIABLE ---> REAL GDP per CAPITA

In [54]:
# In the Paper they use the MAddison Project Database, For Japan missing data (1882, 1884)
# they use the 1885 value of real GDP per capita and population figures for 1882–1884 
# to back-calculate real GDP. 
# Taking constant real GDP in 1885, we divide it by the annual population in 1882, 1883 and 1884 
# to estimate real GDP per capita for those three years. This method provides a reasonable proxy 
# in 2011 international dollars. At the end of the day, we end up with data for the full sample of 16 countries 
# from 1882 to 2020.

# DATA file the Maddison Project Database found in the GDP folder in the DATA folder.

path_maddison_project = Path("/Users/lorenzouberti/Desktop/Panel-Data-Project-Financial-Econometrics/Data/GDP/GDP per CAPITA - Maddison Project .xlsx")

df_maddison_project = pd.read_excel(path_maddison_project, sheet_name='Full data')

OECD_countries = ['Australia', 'Austria', 'Belgium', 'Canada', 'Denmark', 'Finland','France', 'Germany', 'Greece', 'Ireland', 'Italy', 'Japan', 'Netherlands', 'New Zealand', 'Norway', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom', 'United States']

df_OECD_GDP = df_maddison_project[df_maddison_project['country'].isin(OECD_countries)]
df_OECD_GDP = df_OECD_GDP[['country', 'year', 'gdppc', 'pop']]
df_OECD_GDP = df_OECD_GDP[(df_OECD_GDP['year'] >= 1882) & (df_OECD_GDP['year'] <= 2020)]
df_OECD_GDP.head()

# Sorting out the data for Japan for the years 1882, 1883, 1884
mask_japan = df_OECD_GDP['country'] == 'Japan'
jp = df_OECD_GDP[mask_japan]

rgdp_1885 = (jp.loc[jp['year'] == 1885, 'gdppc'].iloc[0]* jp.loc[jp['year'] == 1885, 'pop'].iloc[0])
years_to_fill = [1882, 1883, 1884]
mask_japan_early = mask_japan & df_OECD_GDP['year'].isin(years_to_fill)

df_OECD_GDP.loc[mask_japan_early, 'gdppc'] = (rgdp_1885 / df_OECD_GDP.loc[mask_japan_early, 'pop'])

df_OECD_GDP.head()

       country  year   gdppc     pop
606  Australia  1882  6476.0  2348.0
607  Australia  1883  7133.0  2447.0
608  Australia  1884  6861.0  2556.0
609  Australia  1885  7049.0  2650.0
610  Australia  1886  6900.0  2741.0

Labour Productivity

In [73]:
path_labour_productivity = Path("/Users/lorenzouberti/Desktop/Panel-Data-Project-Financial-Econometrics/Data/Labour Productivity/Long Term Labour Productivity.xlsx")
df_labour_productivity = pd.read_excel(path_labour_productivity, sheet_name='Labor Productivity')
df_labour_productivity = df_labour_productivity[['Year', 'AUS', 'AUT', 'BEL', 'CAN', 'DNK', 'FIN', 'FRA', 'DEU', 'GRC', 'IRL', 'ITA', 'JPN', 'NLD', 'NZL', 'NOR', 'PRT', 'ESP', 'SWE', 'CHE', 'GBR', 'USA']]
replace_name_dict = { 'AUS' : 'Australia',
                      'AUT' : 'Austria',
                      'BEL' : 'Belgium',
                      'CAN' : 'Canada',
                      'DNK' : 'Denmark',
                      'FIN' : 'Finland',
                      'FRA' : 'France',
                      'DEU' : 'Germany',
                      'GRC' : 'Greece',
                      'IRL' : 'Ireland',
                      'ITA' : 'Italy',
                      'JPN' : 'Japan',
                      'NLD' : 'Netherlands',
                      'NZL' : 'New Zealand',
                      'NOR' : 'Norway' , 
                      'PRT' : 'Portugal',
                      'ESP' : 'Spain',
                      'SWE' : 'Sweden',
                      'CHE' : 'Switzerland',
                      'GBR' : 'United Kingdom',
                      'USA' : 'United States' }
df_labour_productivity = df_labour_productivity.rename(columns=replace_name_dict)
df_labour_productivity = df_labour_productivity[(df_labour_productivity['Year'] >= 1890) & (df_labour_productivity['Year'] <= 2020  )]
df_labour_productivity.head()

,Year,Australia,Austria,Belgium,Canada,Denmark,Finland,France,Germany,Greece,...,Japan,Netherlands,New Zealand,Norway,Portugal,Spain,Sweden,Switzerland,United Kingdom,United States
90,1890,11.275570,4.293383,3.394156,4.185372,3.550943,2.023169,2.792736,4.814139,5.754405,...,1.020471,5.493740,5.308201,3.641319,1.925517,4.093740,2.689252,5.961463,5.974749,4.655917
91,1891,11.346384,4.451386,3.359815,3.856720,3.622624,2.013744,2.798662,4.832038,4.969299,...,0.970538,5.331186,5.351774,3.699415,1.899728,4.170664,2.619799,5.536116,5.999465,4.703721
92,1892,9.399105,4.559030,3.404238,3.786976,3.705531,1.930385,2.841674,4.893941,5.131123,...,1.034053,5.364090,5.271480,3.734071,1.892896,4.459632,2.826159,5.927149,5.962112,4.626473
93,1893,8.518302,4.590259,3.416725,3.718733,3.764063,1.999724,2.756078,5.231450,5.406284,...,1.031995,5.351097,5.301502,3.797245,1.935931,4.282428,2.976881,6.074320,5.974519,5.022901
94,1894,8.448742,4.859119,3.429336,3.847008,3.809196,2.107358,2.992517,5.341485,5.473634,...,1.154029,5.415974,5.215812,3.785117,1.918264,4.309023,2.973899,5.848441,6.268525,5.131884

Consumer Price Index

In [81]:
path_CPI = Path("/Users/lorenzouberti/Desktop/Panel-Data-Project-Financial-Econometrics/Data/CPI/Jordá et al 2017.xlsx")
df_CPI_Jorda = pd.read_excel(path_CPI)
df_CPI_Jorda.head()

FileNotFoundError: [Errno 2] No such file or directory: '/Users/lorenzouberti/Desktop/Panel-Data-Project-Financial-Econometrics/Data/CPI/Jordá et al 2017.xlsx'