In [12]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
import os
from pathlib import Path

Descriptive Statistics Section

GDP

In [13]:
df_Final_data_path = Path("/Users/lorenzouberti/Desktop/Panel-Data-Project-Financial-Econometrics/Data")
df_Final_data = pd.read_excel(df_Final_data_path / "final_panel_dataset.xlsx")
df_Final = df_Final_data[['country', 'year', 'gdppc']]

periods = {
    '1882-1913': (1882, 1913),
    '1929-1971' : (1929, 1971),
    '1974-2020' : (1974, 2020)
}

results = []
for country in df_Final['country'].unique():
    df_c = df_Final[df_Final['country'] == country]

    row = {
        "Country": country,
        "Avg": df_c['gdppc'].mean(),
        "Min": df_c['gdppc'].min(),
        "Max": df_c['gdppc'].max()
    }
    
    # Add averages for each sub-period
    for label, (start, end) in periods.items():
        if label == "Avg":
            continue  # already computed
        mask = (df_c['year'] >= start) & (df_c['year'] <= end)
        row[label] = df_c.loc[mask, 'gdppc'].mean()
    
    results.append(row)

df_gdp_table = pd.DataFrame(results)

df_gdp_table = df_gdp_table.sort_values("Country").reset_index(drop=True)


df_gdp_table

,Country,Avg,Min,Max,1882-1913,1929-1971,1974-2020
0,Australia,18181.714409,5451.0000,49814.669956,6878.343750,12220.511628,34459.942613
1,Canada,17379.594154,3304.0000,45284.213482,4652.812500,11967.860465,34199.352923
2,Denmark,17659.407083,3571.0000,48238.657869,4705.593750,11910.023256,35084.820948
3,Finland,13614.012432,1918.0000,40129.653300,2498.062500,7908.325581,29559.653788
4,France,15180.038225,3518.0000,39084.655420,4315.093750,9560.348837,30561.964111
5,Germany,15595.977800,3258.0000,46761.946056,4433.062500,9514.488372,31987.147111
6,Italy,13382.222730,2831.0000,36310.734900,3302.437500,7458.348837,28501.573606
7,Japan,13110.189602,1723.5686,38414.861800,2042.516029,5877.909449,30262.578890
8,Netherlands,17120.066007,4222.0000,48142.671760,5447.781250,10772.813953,33915.152658
9,Norway,21341.497371,2499.0000,85115.323086,3150.656250,9376.465116,50162.470949
10,Portugal,8766.608128,1581.0000,28056.056110,1862.593750,4145.441860,19730.585741
11,Spain,10539.900708,2330.0000,34957.465528,2661.812500,4826.906977,23397.110603
12,Sweden,16214.236925,2354.0000,45434.402948,3216.000000,11387.511628,32823.828353
13,Switzerland,20955.820699,3998.6616,62448.599363,6185.244103,13535.309081,41794.540964
14,United Kingdom,16398.416105,6132.0000,39113.011733,7148.531250,12140.465116,29177.358267
15,United States,22284.062755,6424.1432,56469.263659,7927.131712,15936.648963,41479.469879

Descripitve Stats Labour Productivity

In [14]:
df_Final_data_path = Path("/Users/lorenzouberti/Desktop/Panel-Data-Project-Financial-Econometrics/Data")
df_Final_data = pd.read_excel(df_Final_data_path / "final_panel_dataset.xlsx")
df_Final = df_Final_data[['country', 'year', 'labour_productivity']]

periods = {
    '1882-1913': (1882, 1913),
    '1929-1971' : (1929, 1971),
    '1974-2020' : (1974, 2020)
}
results = []
for country in df_Final['country'].unique():
    df_c = df_Final[df_Final['country'] == country]

    row = {
        "Country": country,
        "Avg": df_c['labour_productivity'].mean(),
        "Min": df_c['labour_productivity'].min(),
        "Max": df_c['labour_productivity'].max()
    }
    
    # Add averages for each sub-period
    for label, (start, end) in periods.items():
        if label == "Avg":
            continue  # already computed
        mask = (df_c['year'] >= start) & (df_c['year'] <= end)
        row[label] = df_c.loc[mask, 'labour_productivity'].mean()
    
    results.append(row)

df_lp_table = pd.DataFrame(results)
df_lp_table = df_lp_table.sort_values("Country").reset_index(drop=True)
df_lp_table

,Country,Avg,Min,Max,1882-1913,1929-1971,1974-2020
0,Australia,24.412274,7.145286,57.693508,8.844059,17.531114,42.896392
1,Canada,23.736365,3.617792,59.533274,4.965576,16.858045,44.322236
2,Denmark,25.806922,3.550943,71.875021,4.742646,14.321432,52.951044
3,Finland,19.752029,1.930385,60.669460,2.515039,8.764999,43.751207
4,France,23.766845,2.756078,67.915392,3.276825,10.839148,52.094069
5,Germany,25.141762,4.585027,68.980046,6.014343,12.461173,52.173867
6,Italy,21.375320,2.018100,55.582627,2.378297,9.819482,47.023313
7,Japan,15.411422,0.970538,49.062035,1.324780,5.463195,35.819434
8,Netherlands,28.735044,5.239417,68.968044,5.925238,17.139801,56.715737
9,Norway,34.941293,3.641319,97.520531,4.286882,17.039040,75.829314
10,Portugal,14.053882,1.892896,38.907656,2.293712,6.964283,29.851783
11,Spain,20.032883,3.888716,53.113263,4.565802,8.862955,42.525098
12,Sweden,24.500651,2.619799,68.115160,3.722773,14.473205,49.860418
13,Switzerland,34.285447,5.536116,80.029640,7.020768,25.147592,63.801251
14,United Kingdom,23.198715,5.962112,59.286516,6.602303,13.397534,45.323436
15,United States,28.725957,4.626473,73.957562,5.621785,21.188733,53.373439

Descriptive Stats CPI

In [15]:
df_Final_data_path = Path("/Users/lorenzouberti/Desktop/Panel-Data-Project-Financial-Econometrics/Data")
df_Final_data = pd.read_excel(df_Final_data_path / "final_panel_dataset.xlsx")
df_Final = df_Final_data[['country', 'year', 'cpi']]

periods = {
    '1882-1913': (1882, 1913),
    '1929-1971' : (1929, 1971),
    '1974-2020' : (1974, 2020)
}   

results = []
for country in df_Final['country'].unique():   
    df_c = df_Final[df_Final['country'] == country]
    
    row = {
        "Country": country,
        "Avg": df_c['cpi'].mean(),
        "Min": df_c['cpi'].min(),
        "Max": df_c['cpi'].max()
    }
    
    # Add averages for each sub-period
    for label, (start, end) in periods.items():
        if label == "Avg":
            continue  # already computed
        mask = (df_c['year'] >= start) & (df_c['year'] <= end)
        row[label] = df_c.loc[mask, 'cpi'].mean()
    
    results.append(row)

df_cpi_table = pd.DataFrame(results)
df_cpi_table = df_cpi_table.sort_values("Country").reset_index(drop=True)
df_cpi_table

,Country,Avg,Min,Max,1882-1913,1929-1971,1974-2020
0,Australia,43.544890,2.250000e+00,202.046014,2.682292e+00,9.146283,116.351147
1,Canada,45.877413,5.285346e+00,174.814103,6.240752e+00,15.904300,112.104647
2,Denmark,41.964554,2.109956e+00,161.815857,2.395390e+00,10.352823,110.231615
3,Finland,38.950207,4.620000e-02,162.232694,5.784375e-02,6.985444,107.648813
4,France,39.327044,6.050080e-02,155.324987,6.281631e-02,8.350713,107.488288
5,Germany,51.007171,1.150362e-11,168.789036,1.271163e-11,30.324740,118.420254
6,Italy,43.403157,2.208800e-02,200.084964,2.349424e-02,4.744669,123.435780
7,Japan,37.840419,1.604590e-02,111.607085,2.478576e-02,12.560825,98.654745
8,Netherlands,50.393610,5.380884e+00,181.424326,6.084630e+00,19.351761,121.941864
9,Norway,43.073465,2.293544e+00,187.737714,2.555589e+00,10.715319,112.724314
10,Portugal,45.323773,4.173523e-02,226.825215,5.211314e-02,2.170814,131.626799
11,Spain,44.773411,2.568748e-01,213.584964,3.040568e-01,3.726903,128.092626
12,Sweden,41.697069,2.407773e+00,161.660079,2.784503e+00,10.395410,109.000505
13,Switzerland,50.689569,9.257564e+00,132.437189,1.062807e+01,28.040517,108.051906
14,United Kingdom,43.987101,1.984892e+00,194.847983,2.110475e+00,8.816898,118.340113
15,United States,49.896845,6.736232e+00,192.622537,7.368184e+00,19.124733,119.524709

Descriptive Stats - Trade Openness

In [16]:
df_Final_data_path = Path("/Users/lorenzouberti/Desktop/Panel-Data-Project-Financial-Econometrics/Data")
df_Final_data = pd.read_excel(df_Final_data_path / "final_panel_dataset.xlsx")
df_Final = df_Final_data[['country', 'year', 'trade_openness']]

periods = {
    '1882-1913': (1882, 1913),
    '1929-1971' : (1929, 1971),
    '1974-2020' : (1974, 2020)
}
results = []
for country in df_Final['country'].unique():
    df_c = df_Final[df_Final['country'] == country]

    row = {
        "Country": country,
        "Avg": df_c['trade_openness'].mean(),
        "Min": df_c['trade_openness'].min(),
        "Max": df_c['trade_openness'].max()
    }
    
    # Add averages for each sub-period
    for label, (start, end) in periods.items():
        if label == "Avg":
            continue  # already computed
        mask = (df_c['year'] >= start) & (df_c['year'] <= end)
        row[label] = df_c.loc[mask, 'trade_openness'].mean()
    
    results.append(row)

df_to_table = pd.DataFrame(results)
df_to_table = df_to_table.sort_values("Country").reset_index(drop=True)
df_to_table

,Country,Avg,Min,Max,1882-1913,1929-1971,1974-2020
0,Australia,2.417701e-01,1.422638e-01,4.240048e-01,2.292362e-01,2.196393e-01,2.877856e-01
1,Canada,4.049497e-04,2.345392e-04,6.922896e-04,3.493633e-04,3.198211e-04,5.070648e-04
2,Denmark,4.844653e-04,1.122112e-04,6.341054e-04,4.699919e-04,4.164150e-04,5.435144e-04
3,Finland,2.016736e+00,4.574830e-01,2.996546e+00,2.465905e+00,2.001051e+00,1.599314e+00
4,France,1.970264e-03,4.171811e-04,3.428153e-03,1.877088e-03,1.254822e-03,2.546570e-03
5,Germany,2.545903e-02,1.109059e-04,9.217843e-01,6.141566e-04,3.630010e-04,9.946653e-04
6,Italy,5.772409e-01,9.202175e-02,1.163041e+00,4.112590e-01,3.749590e-01,8.930931e-01
7,Japan,2.078527e-07,1.282452e-08,3.809018e-07,1.806363e-07,1.924190e-07,2.129923e-07
8,Netherlands,1.670221e+00,2.418701e-01,2.744003e+00,2.183510e+00,1.131527e+00,2.089003e+00
9,Norway,4.247826e-01,1.296565e-01,5.558980e-01,3.936148e-01,3.624605e-01,4.984302e-01
10,Portugal,3.620249e-01,8.010407e-02,8.677099e-01,9.682671e-02,2.982708e-01,6.349794e-01
11,Spain,2.502477e-01,3.128278e-02,6.700941e-01,1.517355e-01,1.211439e-01,4.716263e-01
12,Sweden,3.827747e-01,1.143868e-01,6.744272e-01,3.491635e-01,2.816653e-01,5.266224e-01
13,Switzerland,5.286803e-01,1.634748e-01,1.416275e+00,6.925174e-01,3.504960e-01,5.804088e-01
14,United Kingdom,3.659191e-04,1.011181e-04,5.634698e-04,4.673845e-04,2.725937e-04,3.636764e-04
15,United States,1.393867e-04,4.984706e-05,3.084248e-04,1.060479e-04,7.968947e-05,2.247321e-04

Descriptive Stats - liquid Liabiliteis

In [17]:
df_Final_data_path = Path("/Users/lorenzouberti/Desktop/Panel-Data-Project-Financial-Econometrics/Data")
df_Final_data = pd.read_excel(df_Final_data_path / "final_panel_dataset.xlsx")
df_Final = df_Final_data[['country', 'year', 'liquid_liabilities']].copy()

periods = {
    'Avg 1882-1913': (1882, 1913),
    'Avg 1929-1971': (1929, 1971),
    'Avg 1974-2020': (1974, 2020)
}

results = []
for country in sorted(df_Final['country'].unique()):
    df_c = df_Final[df_Final['country'] == country]

    row = {
        "Country": country,
        "Avg": df_c['liquid_liabilities'].mean(),
        "Min": df_c['liquid_liabilities'].min(),
        "Max": df_c['liquid_liabilities'].max()
    }
    for label, (start, end) in periods.items():
        mask = (df_c['year'] >= start) & (df_c['year'] <= end)
        row[label] = df_c.loc[mask, 'liquid_liabilities'].mean()

    results.append(row)


df_liq_table = pd.DataFrame(results)
df_liq_table = df_liq_table.sort_values("Country").reset_index(drop=True)

df_liq_table

,Country,Avg,Min,Max,Avg 1882-1913,Avg 1929-1971,Avg 1974-2020
0,Australia,0.588035,0.378306,1.219731,0.475271,0.564270,0.723271
1,Canada,0.438497,0.210120,0.971409,0.335605,0.412538,0.537484
2,Denmark,0.496879,0.324765,0.749691,0.577666,0.452793,0.451458
3,Finland,0.499915,0.242607,0.823183,0.497352,0.480582,0.510755
4,France,0.661069,0.287009,2.259868,0.651115,0.636227,0.626257
5,Germany,0.512251,0.057906,1.131326,0.601928,0.289691,0.644742
6,Italy,0.630216,0.304372,1.235554,0.444598,0.642336,0.761780
7,Japan,0.735814,0.209509,2.030276,0.287033,0.641858,1.206171
8,Netherlands,0.551982,0.199094,1.685238,0.255081,0.584656,0.762501
9,Norway,0.596664,0.388443,1.107734,0.578366,0.618113,0.524919
10,Portugal,0.511492,0.087546,1.168655,0.121681,0.510912,0.855755
11,Spain,0.608370,0.207639,1.262809,0.277856,0.603928,0.908790
12,Sweden,0.624740,0.385460,0.875163,0.593502,0.701271,0.548066
13,Switzerland,0.926073,0.481506,1.616489,0.567522,1.013753,1.142984
14,United Kingdom,0.589564,0.410412,1.183510,0.470901,0.571418,0.716867
15,United States,0.529296,0.291136,0.846065,0.399205,0.598438,0.559694

Descriptive Stats --> Stock Market Cap

In [18]:
df_Final_data_path = Path("/Users/lorenzouberti/Desktop/Panel-Data-Project-Financial-Econometrics/Data")
df_Final_data = pd.read_excel(df_Final_data_path / "final_panel_dataset.xlsx")
df_Final = df_Final_data[['country', 'year', 'mcap_gdp']]
periods = {
    '1882-1913': (1882, 1913),
    '1929-1971' : (1929, 1971),
    '1974-2020' : (1974, 2020)
}
results = []
for country in df_Final['country'].unique():
    df_c = df_Final[df_Final['country'] == country]

    row = {
        "Country": country,
        "Avg": df_c['mcap_gdp'].mean(),
        "Min": df_c['mcap_gdp'].min(),
        "Max": df_c['mcap_gdp'].max()
    }
    
    # Add averages for each sub-period
    for label, (start, end) in periods.items():
        if label == "Avg":
            continue  # already computed
        mask = (df_c['year'] >= start) & (df_c['year'] <= end)
        row[label] = df_c.loc[mask, 'mcap_gdp'].mean()
    
    results.append(row)
df_smc_table = pd.DataFrame(results)
df_smc_table = df_smc_table.sort_values("Country").reset_index(drop=True)
df_smc_table

,Country,Avg,Min,Max,1882-1913,1929-1971,1974-2020
0,Australia,0.418503,0.132369,1.395296,0.208414,0.290691,0.703213
1,Canada,0.714749,0.268621,1.409225,0.469164,0.819846,0.800997
2,Denmark,0.289178,0.070842,1.220458,0.337489,0.142894,0.426838
3,Finland,NaN,NaN,NaN,NaN,NaN,NaN
4,France,0.396188,0.054870,0.967841,0.611027,0.274747,0.429348
5,Germany,0.239331,0.024887,0.714247,0.287374,0.147618,0.308788
6,Italy,NaN,NaN,NaN,NaN,NaN,NaN
7,Japan,NaN,NaN,NaN,NaN,NaN,NaN
8,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN
9,Norway,0.209818,0.029932,0.832498,0.208851,0.109701,0.307934
10,Portugal,0.176810,0.004320,0.793364,0.078213,0.163738,0.253180
11,Spain,0.226914,0.055092,0.729985,0.080589,0.199170,0.348403
12,Sweden,0.382406,0.074692,1.409290,0.257910,0.211559,0.648783
13,Switzerland,0.679780,0.157315,2.797097,0.313177,0.400360,1.310204
14,United Kingdom,0.774818,0.198062,1.881063,0.706594,0.720806,0.951829
15,United States,0.674530,0.252113,1.534410,0.575888,0.561486,0.889553

Descriptive Stats --> Banks Loans

In [19]:
df_Final_data_path = Path("/Users/lorenzouberti/Desktop/Panel-Data-Project-Financial-Econometrics/Data")
df_Final_data = pd.read_excel(df_Final_data_path / "final_panel_dataset.xlsx")
df_Final = df_Final_data[['country', 'year', 'bank_loans_gdp']]
periods = {
    '1882-1913': (1882, 1913),
    '1929-1971' : (1929, 1971),
    '1974-2020' : (1974, 2020)
}

results = []
for country in df_Final['country'].unique():
    df_c = df_Final[df_Final['country'] == country]

    row = {
        "Country": country,
        "Avg": df_c['bank_loans_gdp'].mean(),
        "Min": df_c['bank_loans_gdp'].min(),
        "Max": df_c['bank_loans_gdp'].max()
    }
    
    # Add averages for each sub-period
    for label, (start, end) in periods.items():
        if label == "Avg":
            continue  # already computed
        mask = (df_c['year'] >= start) & (df_c['year'] <= end)
        row[label] = df_c.loc[mask, 'bank_loans_gdp'].mean()
    
    results.append(row)

df_bl_table = pd.DataFrame(results)
df_bl_table = df_bl_table.sort_values("Country").reset_index(drop=True)
df_bl_table

,Country,Avg,Min,Max,1882-1913,1929-1971,1974-2020
0,Australia,0.456235,0.160158,1.606247,0.395751,0.225695,0.785653
1,Canada,0.469079,0.141676,1.124800,0.429858,0.263298,0.719027
2,Denmark,1.130445,0.547949,2.035726,1.028275,0.951024,1.347576
3,Finland,0.443136,0.086383,0.989226,0.295511,0.344873,0.642041
4,France,NaN,NaN,NaN,NaN,NaN,NaN
5,Germany,0.630132,0.050678,1.040243,0.743309,0.374665,0.844116
6,Italy,0.438776,0.128907,0.999568,0.207631,0.397922,0.679816
7,Japan,0.576814,0.107728,1.542900,0.257677,0.488570,0.869021
8,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN
9,Norway,0.720617,0.229805,1.498531,0.651111,0.537671,0.891203
10,Portugal,NaN,NaN,NaN,NaN,NaN,NaN
11,Spain,NaN,NaN,NaN,NaN,NaN,NaN
12,Sweden,0.681006,0.376188,1.301502,0.644173,0.478102,0.910948
13,Switzerland,1.123329,0.647735,1.676905,0.952047,1.058768,1.308577
14,United Kingdom,0.421918,0.136823,1.182136,0.259581,0.250274,0.751273
15,United States,0.421697,0.115199,0.695372,0.329269,0.339959,0.555112

In [20]:
df_Final_data_path = Path("/Users/lorenzouberti/Desktop/Panel-Data-Project-Financial-Econometrics/Data")
df_Final_data = pd.read_excel(df_Final_data_path / "final_panel_dataset.xlsx")
df_Final = df_Final_data[['country', 'year', 'gdppc', 'labour_productivity', 'cpi', 'trade_openness', 'liquid_liabilities', 'mcap_gdp', 'bank_loans_gdp']]

df_Final.describe()

,year,gdppc,labour_productivity,cpi,trade_openness,liquid_liabilities,mcap_gdp,bank_loans_gdp
count,2224.000000,2224.000000,2096.000000,2.224000e+03,2.224000e+03,2224.000000,1488.000000,1668.000000
mean,1951.000000,16107.735321,24.242301,4.448436e+01,4.052065e-01,0.593804,0.430062,0.626099
std,40.133829,14479.989948,21.727817,5.785014e+01,6.466756e-01,0.257660,0.372890,0.359545
min,1882.000000,1581.000000,0.970538,1.150362e-11,1.282452e-08,0.057906,0.004320,0.050678
25%,1916.000000,4997.250000,6.242636,2.666016e+00,4.547730e-04,0.431571,0.167840,0.341700
50%,1951.000000,9841.075950,14.581455,1.192234e+01,1.717040e-01,0.548365,0.321797,0.553202
75%,1986.000000,24807.509900,40.460965,8.554003e+01,4.825879e-01,0.707641,0.578042,0.838633
max,2020.000000,85115.323086,97.520531,2.268252e+02,2.996546e+00,2.259868,2.797097,2.035726

Looking for Discontinutiy

In [24]:
import pandas as pd

# Load your data (adjust path if needed)
df_Final_data_path = Path("/Users/lorenzouberti/Desktop/Panel-Data-Project-Financial-Econometrics/Data")
df = pd.read_excel(df_Final_data_path / "final_panel_dataset.xlsx")

# Make sure data are sorted by country and year
df = df.sort_values(["country", "year"])

def count_panel_stats(group):
    years = group["year"].tolist()
    n_obs = len(years)

    # Count gaps > 1 year
    discontinuities = sum(
        (years[i] - years[i-1] > 1)
        for i in range(1, n_obs)
    )

    # Count consecutive pairs (year_t - year_(t-1) == 1)
    consecutive_pairs = sum(
        (years[i] - years[i-1] == 1)
        for i in range(1, n_obs)
    )

    return pd.Series({
        "n_obs": n_obs,
        "discontinuities": discontinuities,
        "consecutive_pairs": consecutive_pairs
    })

# Apply function by country
panel_stats = df.groupby("country").apply(count_panel_stats)

# Display results
print(panel_stats)

                n_obs  discontinuities  consecutive_pairs
country
Australia         139                0                138
Canada            139                0                138
Denmark           139                0                138
Finland           139                0                138
France            139                0                138
Germany           139                0                138
Italy             139                0                138
Japan             139                0                138
Netherlands       139                0                138
Norway            139                0                138
Portugal          139                0                138
Spain             139                0                138
Sweden            139                0                138
Switzerland       139                0                138
United Kingdom    139                0                138
United States     139                0                138

/var/folders/k1/mhyzg0w15gb04d0x6q7gdp2w0000gn/T/ipykernel_4488/3757882027.py:33: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  panel_stats = df.groupby("country").apply(count_panel_stats)