In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
import os
from pathlib import Path

Descriptive Statistics Section

GDP

In [8]:
df_Final_data_path = Path("/Users/lorenzouberti/Desktop/Panel-Data-Project-Financial-Econometrics/Data")
df_Final_data = pd.read_excel(df_Final_data_path / "final_panel_dataset.xlsx")
df_Final = df_Final_data[['country', 'year', 'gdppc']]

periods = {
    '1882-1913': (1882, 1913),
    '1929-1971' : (1929, 1971),
    '1974-2020' : (1974, 2020)
}

results = []
for country in df_Final['country'].unique():
    df_c = df_Final[df_Final['country'] == country]

    row = {
        "Country": country,
        "Avg": df_c['gdppc'].mean(),
        "Min": df_c['gdppc'].min(),
        "Max": df_c['gdppc'].max()
    }
    
    # Add averages for each sub-period
    for label, (start, end) in periods.items():
        if label == "Avg":
            continue  # already computed
        mask = (df_c['year'] >= start) & (df_c['year'] <= end)
        row[label] = df_c.loc[mask, 'gdppc'].mean()
    
    results.append(row)

df_gdp_table = pd.DataFrame(results)

df_gdp_table = df_gdp_table.sort_values("Country").reset_index(drop=True)


df_gdp_table

,Country,Avg,Min,Max,1882-1913,1929-1971,1974-2020
0,Australia,17732.781760,5451.0000,49830.7993,6878.343750,12220.511628,33816.668913
1,Canada,16990.997080,3304.0000,44868.7435,4652.812500,11967.860465,33763.835556
2,Denmark,17210.530842,3571.0000,46312.3443,4705.593750,11910.023256,34492.705007
3,Finland,13234.065823,1918.0000,40129.6533,2498.062500,7908.325581,29111.622616
4,France,14853.921842,3518.0000,38515.9193,4315.093750,9560.348837,30252.762051
5,Germany,15152.428952,3258.0000,46177.6187,4433.062500,9514.488372,31365.283698
6,Italy,13077.012677,2831.0000,36310.7349,3302.437500,7458.348837,28244.349704
7,Japan,12754.940930,1723.5686,38673.8081,2042.516029,5877.909449,29943.372456
8,Netherlands,16682.315514,4222.0000,47474.1095,5447.781250,10772.813953,33328.893898
9,Norway,20420.802407,2499.0000,84580.1362,3150.656250,9376.465116,48640.398438
10,Portugal,8500.059122,1581.0000,27035.6002,1862.593750,4145.441860,19406.379993
11,Spain,10191.219808,2330.0000,32844.3261,2661.812500,4826.906977,22907.002527
12,Sweden,15801.128448,2354.0000,45541.8921,3216.000000,11387.511628,32304.346609
13,Switzerland,20358.222388,3998.6616,61372.7301,6185.244103,13535.309081,40901.351453
14,United Kingdom,16094.665158,6132.0000,38058.0856,7148.531250,12140.465116,28820.558371
15,United States,21799.389217,6424.1432,55334.7394,7927.131712,15936.648963,40857.037424

Descripitve Stats Labour Productivity

In [18]:
df_Final_data_path = Path("/Users/lorenzouberti/Desktop/Panel-Data-Project-Financial-Econometrics/Data")
df_Final_data = pd.read_excel(df_Final_data_path / "final_panel_dataset.xlsx")
df_Final = df_Final_data[['country', 'year', 'labour_productivity']]

periods = {
    '1882-1913': (1882, 1913),
    '1929-1971' : (1929, 1971),
    '1974-2020' : (1974, 2020)
}
results = []
for country in df_Final['country'].unique():
    df_c = df_Final[df_Final['country'] == country]

    row = {
        "Country": country,
        "Avg": df_c['labour_productivity'].mean(),
        "Min": df_c['labour_productivity'].min(),
        "Max": df_c['labour_productivity'].max()
    }
    
    # Add averages for each sub-period
    for label, (start, end) in periods.items():
        if label == "Avg":
            continue  # already computed
        mask = (df_c['year'] >= start) & (df_c['year'] <= end)
        row[label] = df_c.loc[mask, 'labour_productivity'].mean()
    
    results.append(row)

df_lp_table = pd.DataFrame(results)
df_lp_table = df_lp_table.sort_values("Country").reset_index(drop=True)
df_lp_table

,Country,Avg,Min,Max,1882-1913,1929-1971,1974-2020
0,Australia,23.904576,7.145286,55.945060,8.844059,17.531114,42.262508
1,Canada,23.215099,3.617792,54.941825,4.965576,16.858045,43.742867
2,Denmark,25.095944,3.550943,70.928319,4.742646,14.321432,52.119312
3,Finland,19.129152,1.930385,60.669460,2.515039,8.764999,43.032255
4,France,23.085015,2.756078,67.311822,3.276825,10.839148,51.398476
5,Germany,24.467296,4.585027,67.793443,6.014343,12.461173,51.441824
6,Italy,20.857886,2.018100,53.657007,2.378297,9.819482,46.679915
7,Japan,14.893346,0.970538,48.636247,1.324780,5.463195,35.241307
8,Netherlands,28.127597,5.239417,68.968044,5.925238,17.139801,56.217975
9,Norway,33.981786,3.641319,97.520531,4.286882,17.039040,74.895975
10,Portugal,13.671912,1.892896,37.999137,2.293712,6.964283,29.458931
11,Spain,19.520144,3.888716,52.923911,4.565802,8.862955,42.054900
12,Sweden,23.830017,2.619799,65.893859,3.722773,14.473205,49.065035
13,Switzerland,33.584848,5.536116,78.482762,7.020768,25.147592,63.104680
14,United Kingdom,22.644258,5.962112,58.368470,6.602303,13.397534,44.717312
15,United States,28.043583,4.626473,70.664702,5.621785,21.188733,52.512744

Descriptive Stats CPI

In [17]:
df_Final_data_path = Path("/Users/lorenzouberti/Desktop/Panel-Data-Project-Financial-Econometrics/Data")
df_Final_data = pd.read_excel(df_Final_data_path / "final_panel_dataset.xlsx")
df_Final = df_Final_data[['country', 'year', 'cpi']]

periods = {
    '1882-1913': (1882, 1913),
    '1929-1971' : (1929, 1971),
    '1974-2020' : (1974, 2020)
}   

results = []
for country in df_Final['country'].unique():   
    df_c = df_Final[df_Final['country'] == country]
    
    row = {
        "Country": country,
        "Avg": df_c['cpi'].mean(),
        "Min": df_c['cpi'].min(),
        "Max": df_c['cpi'].max()
    }
    
    # Add averages for each sub-period
    for label, (start, end) in periods.items():
        if label == "Avg":
            continue  # already computed
        mask = (df_c['year'] >= start) & (df_c['year'] <= end)
        row[label] = df_c.loc[mask, 'cpi'].mean()
    
    results.append(row)

df_cpi_table = pd.DataFrame(results)
df_cpi_table = df_cpi_table.sort_values("Country").reset_index(drop=True)
df_cpi_table

,Country,Avg,Min,Max,1882-1913,1929-1971,1974-2020
0,Australia,41.244020,2.250000e+00,197.175339,2.682292e+00,9.146283,112.582108
1,Canada,44.004209,5.285346e+00,170.250949,6.240752e+00,15.904300,109.345215
2,Denmark,40.218827,2.109956e+00,160.112366,2.395390e+00,10.352823,107.950936
3,Finland,37.154984,4.620000e-02,159.797081,5.784375e-02,6.985444,105.236628
4,France,37.639020,6.050080e-02,152.893920,6.281631e-02,8.350713,105.378581
5,Germany,49.292291,1.150362e-11,165.918529,1.271163e-11,30.324740,116.195533
6,Italy,41.117955,2.208800e-02,198.824434,2.349424e-02,4.744669,120.035614
7,Japan,36.763753,1.604590e-02,111.087100,2.478576e-02,12.560825,98.079754
8,Netherlands,48.495376,5.380884e+00,174.755923,6.084630e+00,19.351761,119.342720
9,Norway,40.978830,2.293544e+00,181.428131,2.555589e+00,10.715319,109.442908
10,Portugal,42.676128,4.173523e-02,226.147178,5.211314e-02,2.170814,127.401883
11,Spain,42.314042,2.568748e-01,212.101579,3.040568e-01,3.726903,124.308289
12,Sweden,39.951555,2.407773e+00,158.036891,2.784503e+00,10.395410,106.677646
13,Switzerland,49.516330,9.257564e+00,132.437189,1.062807e+01,28.040517,107.029482
14,United Kingdom,41.797439,1.984892e+00,189.695474,2.110475e+00,8.816898,114.978385
15,United States,47.830594,6.736232e+00,186.862052,7.368184e+00,19.124733,116.328693

Descriptive Stats - Trade Openness

In [19]:
df_Final_data_path = Path("/Users/lorenzouberti/Desktop/Panel-Data-Project-Financial-Econometrics/Data")
df_Final_data = pd.read_excel(df_Final_data_path / "final_panel_dataset.xlsx")
df_Final = df_Final_data[['country', 'year', 'trade_openness']]

periods = {
    '1882-1913': (1882, 1913),
    '1929-1971' : (1929, 1971),
    '1974-2020' : (1974, 2020)
}
results = []
for country in df_Final['country'].unique():
    df_c = df_Final[df_Final['country'] == country]

    row = {
        "Country": country,
        "Avg": df_c['trade_openness'].mean(),
        "Min": df_c['trade_openness'].min(),
        "Max": df_c['trade_openness'].max()
    }
    
    # Add averages for each sub-period
    for label, (start, end) in periods.items():
        if label == "Avg":
            continue  # already computed
        mask = (df_c['year'] >= start) & (df_c['year'] <= end)
        row[label] = df_c.loc[mask, 'trade_openness'].mean()
    
    results.append(row)

df_to_table = pd.DataFrame(results)
df_to_table = df_to_table.sort_values("Country").reset_index(drop=True)
df_to_table

,Country,Avg,Min,Max,1882-1913,1929-1971,1974-2020
0,Australia,2.410351e-01,1.422638e-01,4.240048e-01,2.292362e-01,2.196393e-01,2.873253e-01
1,Canada,4.034711e-04,2.345392e-04,6.922896e-04,3.493633e-04,3.198211e-04,5.071016e-04
2,Denmark,4.829802e-04,1.122112e-04,6.341054e-04,4.699919e-04,4.164150e-04,5.416174e-04
3,Finland,2.545248e+00,4.574830e-01,4.015456e+00,2.545356e+00,2.001051e+00,3.072451e+00
4,France,1.958863e-03,4.171811e-04,3.428153e-03,1.877088e-03,1.254822e-03,2.537475e-03
5,Germany,6.530416e-04,1.109059e-04,1.397271e-03,6.141566e-04,3.630010e-04,9.808377e-04
6,Italy,5.694673e-01,9.202175e-02,1.163041e+00,4.112590e-01,3.749590e-01,8.834646e-01
7,Japan,2.070108e-07,1.282452e-08,3.809018e-07,1.806363e-07,1.924190e-07,2.106576e-07
8,Netherlands,1.657842e+00,2.418701e-01,2.744003e+00,2.183510e+00,1.131527e+00,2.069927e+00
9,Norway,4.243510e-01,1.296565e-01,5.558980e-01,3.936148e-01,3.624605e-01,5.003894e-01
10,Portugal,6.851281e+01,1.317727e+01,1.734317e+02,1.626966e+01,5.550673e+01,1.259526e+02
11,Spain,3.815944e+01,4.390886e+00,1.116538e+02,2.141657e+01,1.681471e+01,7.689542e+01
12,Sweden,3.799367e-01,1.143868e-01,6.744272e-01,3.491635e-01,2.816653e-01,5.243755e-01
13,Switzerland,5.048576e-01,1.634748e-01,9.624771e-01,6.195785e-01,3.504960e-01,5.696967e-01
14,United Kingdom,3.660370e-04,1.011181e-04,5.634698e-04,4.673845e-04,2.725937e-04,3.639357e-04
15,United States,1.378375e-04,4.984706e-05,3.084248e-04,1.060479e-04,7.968947e-05,2.238088e-04

Descriptive Stats - liquid Liabiliteis

In [12]:
df_Final_data_path = Path("/Users/lorenzouberti/Desktop/Panel-Data-Project-Financial-Econometrics/Data")
df_Final_data = pd.read_excel(df_Final_data_path / "final_panel_dataset.xlsx")
df_Final = df_Final_data[['country', 'year', 'liquid_liabilities']].copy()

periods = {
    'Avg 1882-1913': (1882, 1913),
    'Avg 1929-1971': (1929, 1971),
    'Avg 1974-2020': (1974, 2020)
}

results = []
for country in sorted(df_Final['country'].unique()):
    df_c = df_Final[df_Final['country'] == country]

    row = {
        "Country": country,
        "Avg": df_c['liquid_liabilities'].mean(),
        "Min": df_c['liquid_liabilities'].min(),
        "Max": df_c['liquid_liabilities'].max()
    }
    for label, (start, end) in periods.items():
        mask = (df_c['year'] >= start) & (df_c['year'] <= end)
        row[label] = df_c.loc[mask, 'liquid_liabilities'].mean()

    results.append(row)


df_liq_table = pd.DataFrame(results)
df_liq_table = df_liq_table.sort_values("Country").reset_index(drop=True)

df_liq_table

,Country,Avg,Min,Max,Avg 1882-1913,Avg 1929-1971,Avg 1974-2020
0,Australia,0.579683,0.378306,1.181142,0.475271,0.564270,0.703854
1,Canada,0.432065,0.210120,0.756566,0.335605,0.412538,0.522301
2,Denmark,0.494947,0.324765,0.749691,0.577666,0.452793,0.443559
3,Finland,0.496581,0.242607,0.823183,0.497352,0.480582,0.501086
4,France,0.655223,0.287009,2.259868,0.651115,0.636227,0.606913
5,Germany,56.376463,0.222101,1454.173208,0.601928,178.297128,0.630124
6,Italy,0.622901,0.304372,0.987339,0.444598,0.642336,0.745357
7,Japan,0.718325,0.209509,1.801902,0.287033,0.641858,1.173830
8,Netherlands,0.543171,0.199094,1.685238,0.255081,0.584656,0.745031
9,Norway,0.595153,0.388443,1.107734,0.578366,0.618113,0.517130
10,Portugal,0.503301,0.087546,0.948897,0.121681,0.510912,0.846120
11,Spain,0.600489,0.207639,1.087794,0.277856,0.603928,0.898147
12,Sweden,0.622119,0.385460,0.839428,0.593502,0.701271,0.536680
13,Switzerland,0.917030,0.481506,1.486491,0.567522,1.013753,1.125095
14,United Kingdom,0.582289,0.410412,1.000110,0.470901,0.571418,0.700378
15,United States,0.525780,0.291136,0.764255,0.399205,0.598438,0.550341

Descriptive Stats --> Stock Market Cap

In [21]:
df_Final_data_path = Path("/Users/lorenzouberti/Desktop/Panel-Data-Project-Financial-Econometrics/Data")
df_Final_data = pd.read_excel(df_Final_data_path / "final_panel_dataset.xlsx")
df_Final = df_Final_data[['country', 'year', 'mcap_gdp']]
periods = {
    '1882-1913': (1882, 1913),
    '1929-1971' : (1929, 1971),
    '1974-2020' : (1974, 2020)
}
results = []
for country in df_Final['country'].unique():
    df_c = df_Final[df_Final['country'] == country]

    row = {
        "Country": country,
        "Avg": df_c['mcap_gdp'].mean(),
        "Min": df_c['mcap_gdp'].min(),
        "Max": df_c['mcap_gdp'].max()
    }
    
    # Add averages for each sub-period
    for label, (start, end) in periods.items():
        if label == "Avg":
            continue  # already computed
        mask = (df_c['year'] >= start) & (df_c['year'] <= end)
        row[label] = df_c.loc[mask, 'mcap_gdp'].mean()
    
    results.append(row)
df_smc_table = pd.DataFrame(results)
df_smc_table = df_smc_table.sort_values("Country").reset_index(drop=True)
df_smc_table

,Country,Avg,Min,Max,1882-1913,1929-1971,1974-2020
0,Australia,0.418503,0.132369,1.395296,0.208414,0.290691,0.703213
1,Canada,0.714749,0.268621,1.409225,0.469164,0.819846,0.800997
2,Denmark,0.289178,0.070842,1.220458,0.337489,0.142894,0.426838
3,Finland,NaN,NaN,NaN,NaN,NaN,NaN
4,France,0.396188,0.054870,0.967841,0.611027,0.274747,0.429348
5,Germany,0.239331,0.024887,0.714247,0.287374,0.147618,0.308788
6,Italy,NaN,NaN,NaN,NaN,NaN,NaN
7,Japan,NaN,NaN,NaN,NaN,NaN,NaN
8,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN
9,Norway,0.209818,0.029932,0.832498,0.208851,0.109701,0.307934
10,Portugal,0.176810,0.004320,0.793364,0.078213,0.163738,0.253180
11,Spain,0.226914,0.055092,0.729985,0.080589,0.199170,0.348403
12,Sweden,0.382406,0.074692,1.409290,0.257910,0.211559,0.648783
13,Switzerland,0.679780,0.157315,2.797097,0.313177,0.400360,1.310204
14,United Kingdom,0.774818,0.198062,1.881063,0.706594,0.720806,0.951829
15,United States,0.674530,0.252113,1.534410,0.575888,0.561486,0.889553

Descriptive Stats --> Banks Loans

In [22]:
df_Final_data_path = Path("/Users/lorenzouberti/Desktop/Panel-Data-Project-Financial-Econometrics/Data")
df_Final_data = pd.read_excel(df_Final_data_path / "final_panel_dataset.xlsx")
df_Final = df_Final_data[['country', 'year', 'bank_loans_gdp']]
periods = {
    '1882-1913': (1882, 1913),
    '1929-1971' : (1929, 1971),
    '1974-2020' : (1974, 2020)
}

results = []
for country in df_Final['country'].unique():
    df_c = df_Final[df_Final['country'] == country]

    row = {
        "Country": country,
        "Avg": df_c['bank_loans_gdp'].mean(),
        "Min": df_c['bank_loans_gdp'].min(),
        "Max": df_c['bank_loans_gdp'].max()
    }
    
    # Add averages for each sub-period
    for label, (start, end) in periods.items():
        if label == "Avg":
            continue  # already computed
        mask = (df_c['year'] >= start) & (df_c['year'] <= end)
        row[label] = df_c.loc[mask, 'bank_loans_gdp'].mean()
    
    results.append(row)

df_bl_table = pd.DataFrame(results)
df_bl_table = df_bl_table.sort_values("Country").reset_index(drop=True)
df_bl_table

,Country,Avg,Min,Max,1882-1913,1929-1971,1974-2020
0,Australia,0.440591,0.160158,1.606247,0.395751,0.225695,0.752667
1,Canada,0.460218,0.141676,1.010946,0.429858,0.263298,0.703160
2,Denmark,1.122469,0.547949,2.035726,1.028275,0.951024,1.332945
3,Finland,0.435525,0.086383,0.973966,0.295511,0.344873,0.627710
4,France,NaN,NaN,NaN,NaN,NaN,NaN
5,Germany,0.626823,0.050678,1.040243,0.743309,0.374665,0.843552
6,Italy,0.433539,0.128907,0.999568,0.207631,0.397922,0.674588
7,Japan,0.563182,0.107728,1.470100,0.257677,0.488570,0.840507
8,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN
9,Norway,0.710217,0.229805,1.336182,0.651111,0.537671,0.867122
10,Portugal,NaN,NaN,NaN,NaN,NaN,NaN
11,Spain,NaN,NaN,NaN,NaN,NaN,NaN
12,Sweden,0.672460,0.376188,1.233037,0.644173,0.478102,0.895148
13,Switzerland,1.117020,0.647735,1.676905,0.952047,1.058768,1.297602
14,United Kingdom,0.415286,0.136823,1.182136,0.259581,0.250274,0.745721
15,United States,0.418182,0.115199,0.629541,0.329269,0.339959,0.550340